@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");

// primary colors
// $light-color: #f0f0f0;
// $dark-color: #1b1b1b;
// $accent-color: #03957d;

// font sizes
$title-size: 4rem;
$font-size-sm: 0.8rem;
$font-size-base: 1rem;
$font-size-md: 2rem;
$font-size-lg: 3rem;

// fonts
$heading-font: "Spectral", serif;
$body-font: "Karla", sans-serif;

// spacing
$spacer: 2rem;
$spacer-sm: 1rem;
$spacer-lg: 4rem;
